.layout-wrapper {
  min-height: 100vh;
}

.layout-main-container {
  padding-top: 4rem;
  transition: margin-left 0.3s;
}

.layout-static .layout-main-container {
  margin-left: 16rem;
}

.layout-static.layout-static-inactive .layout-main-container {
  margin-left: 0;
}

.layout-overlay .layout-main-container {
  margin-left: 0;
}

.layout-main {
  padding: 1.5rem;
}

.layout-mask {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 998;
}

.layout-overlay-active .layout-mask,
.layout-mobile-active .layout-mask {
  display: block;
}

@media (max-width: 991px) {
  .layout-static .layout-main-container {
    margin-left: 0;
  }
}
