.layout-sidebar {
  position: fixed;
  left: 0;
  top: 4rem;
  bottom: 0;
  width: 16rem;
  background: var(--color-surface-0);
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  z-index: 999;
  transition: transform 0.3s;
}

:host-context(.layout-overlay) .layout-sidebar,
:host-context(.layout-static.layout-static-inactive) .layout-sidebar {
  transform: translateX(-100%);
}

:host-context(.layout-overlay-active) .layout-sidebar {
  transform: translateX(0);
}

@media (max-width: 991px) {
  .layout-sidebar {
    transform: translateX(-100%);
  }

  :host-context(.layout-mobile-active) .layout-sidebar {
    transform: translateX(0);
  }
}
