<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-screen overflow-hidden" data-cy="login-page">
  <div class="flex flex-col items-center justify-center">
    <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
      <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
        <div class="text-center mb-8">
          <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Mapa Tributário</div>
          <span class="text-muted-color font-medium">Entre para continuar</span>
        </div>

        @if (errorMessage()) {
          <p-message severity="error" [text]="errorMessage()" styleClass="w-full mb-4" />
        }

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <label for="email" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
          <input pInputText id="email" type="email" placeholder="Seu email" class="w-full md:w-120 mb-1" formControlName="email" data-cy="login-email" />
          @if (form.controls.email.touched && form.controls.email.errors) {
            <small class="text-red-500 block mb-4">
              @if (form.controls.email.errors['required']) { Email é obrigatório. }
              @else if (form.controls.email.errors['email']) { Email inválido. }
            </small>
          } @else {
            <div class="mb-8"></div>
          }

          <label for="senha" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Senha</label>
          <p-password id="senha" formControlName="senha" placeholder="Sua senha" [toggleMask]="true" styleClass="mb-1" [fluid]="true" [feedback]="false" data-cy="login-senha" />
          @if (form.controls.senha.touched && form.controls.senha.errors) {
            <small class="text-red-500 block mb-4">
              @if (form.controls.senha.errors['required']) { Senha é obrigatória. }
              @else if (form.controls.senha.errors['minlength']) { Senha deve ter pelo menos 8 caracteres. }
            </small>
          } @else {
            <div class="mb-4"></div>
          }

          <div class="flex items-center justify-between mt-2 mb-8 gap-8">
            <div class="flex items-center">
              <p-checkbox formControlName="lembrar" id="lembrar" binary class="mr-2" />
              <label for="lembrar">Lembrar-me</label>
            </div>
          </div>
          <p-button type="submit" label="Entrar" styleClass="w-full" [loading]="loading()" [disabled]="loading()" data-cy="login-submit" />
          <div class="text-center mt-4">
            <span class="text-muted-color">Não tem conta? </span>
            <a routerLink="/auth/signup" class="text-primary font-medium cursor-pointer">Criar conta</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
